html, body {
  height: 100%
}

body {
  background-color: #e8e5d6;
  margin: auto;
  font-family: "Fjalla One",Times;
}

body h1 {
  font-size: 2em;
  color: #eee5e9;
}

body h2 {
  font-size: 2em;
  color: #eee5e9;
}

a {
  text-decoration: none;
}

p {
  font-size: 0.7em;
  color: black;
  text-align: justify;
  text-align: center;
}

#body {
  overflow: auto;
}

/*Style pour texte promotions*/

.barre {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #eee5e9;
}

.box_promo h3 {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1em;
  color: red;
  border: 2px solid red;
  border-radius: 100%;
  padding: 5px;
}
.promo {
  display: flex;
  align-self: flex-start;

}
.box_promo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15em;
  height: 9em;
  margin: 2em;
  opacity: 0.9;
  border : 5px solid #322;
  border-radius: 5%;
  background-color: #333;
}

.in_box_promo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2px;
}

.box_promo:hover {
  opacity: 0.6;
}

.box_promo h1 {
  font-size: 1em;
}

.box_promo h2 {
  font-size: 0.7em;
}


/* Style pour les box produits */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15em;
  height: 9em;
  margin: 2em;
  opacity: 0.9;
  border : 5px solid #322;
  border-radius: 5%;
  flex-direction: column;
  background-color: #333;
}

.box_accueil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25em;
  height: 15em;
  margin: 2em;
  opacity: 0.9;
  border : 5px solid #322;
  border-radius: 5%;
  flex-direction: column;
  background-color: #333;
}

.box_accueil:hover {
  opacity: 0.6;
}

.box:hover {
  opacity: 0.6;
}

.box h1 {
  font-size: 1em;
}

.box h2 {
  font-size: 0.7em;
}

.line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.img_box {
  height: 4em;
  width: 4em;
}

/* Style pour la box filtre */

.filtre_box {
  border: 2px solid #322;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #eee5e9;
  background-color: #333;
  border-radius: 2%;
  padding: 2px;
  margin: 1em;
}

/* Stylepour les formulaires des pages :
      - connection.html
      - inscription.html
      - livraison.html
      - paiement.html
*/

#custom_form h1 {
  text-align: center;
  font-variant: small-caps;
  color: #1a66ff;
}

#custom_form p, #custom_form a {
  font-size: 20px;
  font-variant: small-caps;
  text-align: center;
  text-decoration: none;
  color: #1a66ff;
}

#custom_form .champs_obligatoires {
  font-size: 15px;
  color: red;
}

#custom_form {
  width: 300px;
  margin: auto;
  padding: 25px;
}

#custom_form .custom_form_box {
  border-radius: 3px;
  border: 1px solid #6699ff;
  width: 95%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 100%;
  margin-bottom: 5%;
}

#custom_form .custom_form_box:hover {
  border: 1px solid #1a66ff;
}

#custom_form .custom_form_button {
  background-color: #6699ff;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  width: 50%;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 25%
}

#custom_form .custom_form_button:hover {
  background-color: #1a66ff;
}

#custom_form .custom_form_radio{
    display: none;
}

#custom_form #status, #custom_form #paypal_paiement img {
  width: 100%;
}

#custom_form .custom_form_select {
  border-radius: 3px;
  border: 1px solid #6699ff;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 100%;
  margin-bottom: 5%;
  margin-top: 2%;
  font-family: "Fjalla One",Times;
}

#custom_form .custom_form_select_expiration {
  border-radius: 3px;
  border: 1px solid #6699ff;
  width: 49%;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 100%;
  margin-bottom: 5%;
  margin-top: 2%;
  font-family: "Fjalla One",Times;
}

#custom_form  .paiement_label {
  font-size: 15pt;
  margin: auto;
}

/* Style pour la page paiement.html */

#carte_bleue, #paypal_paiement, #puce_paiement {
  display: none;
  margin-top: 5%;
  margin-bottom: 5%;
}

#cb:checked ~ #carte_bleue{
    display: block;
}

#paypal:checked ~ #paypal_paiement{
    display: block;
}

#puce:checked ~ #puce_paiement{
    display: block;
}

/* Style pour pages produits */

.body_produit h1 {
  color: black;
}

.body_produit {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

@media screen and (max-width : 650px) {
  .other {
    flex-direction: column;
  }

  .description {
    order: 1;
  }

}

.other{
  display: flex;
}

.big_image {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 33%;
}

.description {
  display: flex;
  justify-content: center;
  align-self: center;
  color: black;
  font-size: 2em;
  width: 33%;
}

.achat {
  margin: auto;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  border : 5px solid #322;
  background-color: #333;
}

.achat h2 {
  font-size: 20pt;
  text-align: center;
}

.button_achat {
  border : 1px solid #ff6600;
  border-radius: 5%;
  background-color: #ff6600;
  color: #eee5e9;
  margin: 5px;
  font-size: 1.2em;
  text-align: center;
}

.button_achat:hover {
  opacity: 0.9;
}

.commentaire {
  resize: none;
  width: 75%;
  height: 100px;
  margin-bottom: 10px;
  background-color: #d8d4c3;
  border : 5px solid #322;
}

.button_submit {
  border : 1px solid #322;
  border-radius: 5%;
  background-color: #333;
  color:#e9e5e4;
  font-size: 1.5em;
  margin: 5px;
  font-weight: bolder;
  text-align: center;
}

.button_submit:hover {
  opacity: 0.9;
}

/* Style page check paiement */

#verif {
  color: #6699ff;
  text-align: center;
}

#loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
